.main {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-6);
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
  align-items: center;
  width: var(--spacing-sm);
  margin: auto;
}

.welcome_blurb {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-4);
  align-items: start;
  font-size: var(--fontSizes-lg);
  padding-left: var(--spacing-4);
  padding-right: var(--spacing-4);
}

.player_count_pill {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--spacing-1) var(--spacing-3) var(--spacing-1) var(--spacing-3);
  gap: var(--spacing-3);
  color: var(--orange-200);
  border: 1px solid var(--orange-200);
  border-radius: var(--radii-md);
  background-color: color-mix(in srgb, var(--orange-200) 10%, transparent);
  margin-top: var(--spacing-1);
}

.room_code_pin_inputs_container {
  form {
    [data-part="label"] {
      display: block;
      text-align: center;
    }

    [data-part="control"] {
      display: flex;
      gap: var(--spacing-2);
      justify-content: center;
      margin-top: var(--spacing-4);
      margin-bottom: var(--spacing-4);
    }

    [data-part="input"] {
      text-transform: uppercase;
      width: var(--spacing-12);
      height: var(--spacing-12);
      background-color: transparent;
      border: 1px solid var(--main-greyAccent);
      border-radius: var(--radii-md);
      text-align: center;

      &[data-invalid] {
        border-color: var(--error);
      }
    }
  }
}

.or_separator {
  display: flex;
  align-items: center;
  gap: var(--spacing-3);
  width: var(--spacing-full);
}

@keyframes alert-in {
  from {
    transform: scaleY(0.5);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.alert_container {
  display: flex;
  align-items: center;
  gap: var(--spacing-2);
  width: var(--spacing-full);
  padding: var(--spacing-3) var(--spacing-4);
  background-color: color-mix(in srgb, var(--orange-200) 15%, transparent);
  animation: alert-in 150ms ease-out;
  transform-origin: top;
  color: var(--orange-200);

  svg {
    flex-shrink: 0;
  }

  span {
    color: var(--white);
  }
}
