:root {
  --spy: #4a5568;
  --guard: #888834;
  --priest: #648b11;
  --baron: #276749;
  --handmaid: #086f83;
  --prince: #2b6cb0;
  --chancellor: #7b341e;
  --king: #553c9a;
  --countess: #702459;
  --princess: #63171b;
}
