:root {
  --spy: #535353;
  --guard: #bdb73f;
  --priest: #babd3f;
  --baron: #3fbd4c;
  --handmaid: #3fbdb6;
  --prince: #3f71bd;
  --chancellor: #bd7b3f;
  --king: #423fbd;
  --countess: #bd3fb8;
  --princess: #bd3f3f;
}
